[Unit]
Description=Waybar config file watcher
After=waybar.service
Requires=waybar.service

[Service]
Type=simple
ExecStart=/bin/bash -c "inotifywait -m -e modify,move,create,delete %h/.config/waybar/ --format='%%w%%f %%e' | while read file event; do if [[ \"$file\" =~ \\.(jsonc|css)$ ]]; then echo \"Config changed: $file ($event)\"; systemctl --user restart waybar.service; fi; done"
Restart=always
RestartSec=3

[Install]
WantedBy=graphical-session.target
